@model LearningPlatform.ViewModels.MemberTeachersViewModel
@{
    ViewData["Title"] = "Видалити";
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5"></div>
            <div class="row flex-md-row">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">Видалити викладача</h1>
                    </div>
                    <div style="min-width: 300px;" class="row justify-content-center">
                        <div style="min-width: 250px;" class="col-6 col-lg-5">
                            <form method="post" asp-action="DeleteTeacher" enctype="multipart/form-data">
                                <input asp-for="CourseId" value="@Model.CourseId" />
                                <input asp-for="TeacherId" value="@Model.TeacherId" />
                                <div class="form-row form-group">
                                    <div class="col mb-3">
                                        <input asp-for="TeacherName" class="form-control form-control-lg" readonly></input>
                                    </div>
                                </div>

                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-danger btn-lg" type="submit">Видалити</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
