@model LearningPlatform.ViewModels.TeacherGroupsViewModel
@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Видалити";
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5"></div>
            <div class="row flex-md-row">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">@Model.Name</h1>
                    </div>
                    <div style="min-width: 300px;" class="row justify-content-center">
                        <div style="min-width: 250px;" class="col-6 col-lg-5">
                            <form method="post" asp-action="Delete" enctype="multipart/form-data">
                                <input type="hidden" id="AppUserId" name="AppUserId" />
                                <div class="form-row form-group">
                                    <div class="col mb-3">
                                        <select asp-for="GroupId" asp-items="@(new SelectList(Model.Groups, nameof(LessonEntity.Id), nameof(LessonEntity.Name)))" class="form-select" disabled></select>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button asp-route-lessonId="@Model.GroupId" class="btn btn-block btn-danger btn-lg" type="submit">Видалити</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

